*{ margin: 0; padding: 0; user-select: none;}

:root
{
    /* Main body */
    --background-color: ;
    --accent-color: rgb(0, 122, 255, 0.4);
    --active-color: rgb(0, 122, 255, 0.7);
    --hover-color: rgb(142, 142, 147, 0.5);
    --link-color: ;

    /* Nav bar */
    --navbar-height: 3.2vh;
    --navbar-padding: 0.5vh;
    --navbar-margin: ;
    --nav-background-color: rgba(0, 0, 0, 0.3);

    /* Nav bar left */
    --navbar-left-border-radius: 6px;
    --navbar-left-margin: 4px;
    --navbar-left-icon-width: 36px;
    --navbar-left-content-width: 48px;

    /* Nav bar right */
    --navbar-right-border-radius: 6px;
    --navbar-right-margin: 4px;
    --navbar-right-width: 24px;
    --navbar-right-clock-width: 56px;

    /* Menu Popouts*/
    --popout-background-color: rgba(0, 0, 0, 0.3);
    --popout-background-blur: 10px;
    --popout-border-radius: 6px;
    --popout-width: 240px;
    --popout-padding: 7px;
    --popout-content-padding: 5px;
    --popout-content-border-radius: 6px;

    /* Menu Popout Items */
    --popout-content-width: 150px;
    --popout-shortcut-width: 60px;
    --popout-shortcut-color: rgb(0, 122, 255, 0.7);
    --divider-margin: 5px;
    --popout-hover-background-color: rgb(0, 122, 255, 0.2);

    /* Window Popouts */
    --window-width: 700px;
    --window-height: 700px;
    --window-background-color: rgba(0, 0, 0, 0.3);
    --window-border-radius: 10px;
    --window-padding: 10px;
    --window-blur: 20px;
}

body { height: 100%; width: 100%; background-image: url(https://images.unsplash.com/photo-1564089957880-517edea1afc5?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTR8fHxlbnwwfHx8fHw%3D); background-position: center; background-size: 100%;}

.nav {
    height: var(--navbar-height); background-color: var(--nav-background-color); padding: var(--navbar-padding);
    display: grid; grid-template-columns: 1fr 1fr;
    position: fixed; top: 0; left: 0; right: 0;
    backdrop-filter: blur(4px);
    z-index: 100;
}

.nav .left { display: flex; flex-direction: row; text-align: left; }

.nav .left .icon
{
    margin-right: var(--navbar-left-margin); border-radius: var(--navbar-left-border-radius); width: var(--navbar-left-icon-width);
    display: flex; align-items: center; justify-content: center;
}
.nav .left .icon:hover { background-color: var(--hover-color); }
.nav .left .icon:active { background-color: var(--accent-color); }

.nav .left .option
{
    margin-right: var(--navbar-left-margin); padding: var(--navbar-padding); border-radius: var(--navbar-left-border-radius); width: var(--navbar-left-content-width);
    display: flex; align-items: center; justify-content: center;
}
.nav .left .option:hover { background-color: var(--hover-color); }
.nav .left .option:active { background-color: var(--accent-color); }


.nav .right { display: flex; flex-direction: row; justify-content: flex-end; }

.nav .right .icon
{
    padding: var(--navbar-padding); margin: var(--navbar-margin); width: var(--navbar-right-width); border-radius: var(--navbar-right-border-radius);
    display: flex; align-items: center; justify-content: center;
}
.nav .right .icon:hover { background-color: var(--hover-color); }
.nav .right .icon:active { background-color: var(--accent-color); }

.nav .right #clock 
{
    padding: var(--navbar-padding); margin: var(--navbar-margin); width: var(--navbar-right-clock-widthwidth); border-radius: var(--navbar-right-border-radius);
    display: flex; align-items: center; justify-content: center;
}
.nav .right #clock:hover { background-color: var(--hover-color); }
.nav .right #clock:active { background-color: var(--accent-color); }

.dropdown 
{ 
    width: var(--popout-width); padding: var(--popout-padding); border-radius: var(--popout-border-radius); 
    background-color: var(--popout-background-color); backdrop-filter: blur(var(--popout-background-blur));
    z-index: 100;
}

.dropdown .item { padding: var(--popout-content-padding); border-radius: var(--popout-content-border-radius);}
.dropdown .item:hover { background-color: var(--popout-hover-background-color); }
.dropdown .item:active { background-color: var(--accent-color); }

.dropdown hr { margin-bottom: var(--divider-margin); }

.dropdown .item { display: grid; grid-template-columns: var(--popout-content-width) var(--popout-shortcut-width); margin-bottom: var(--divider-margin);}
.dropdown .item .content { display: flex; justify-content: left; }
.dropdown .item .shortcut { display: flex; justify-content: right; color: var(--popout-shortcut-color);}

#icon-dropdown { position: fixed; top: 5vh; left: 5px; display: none; }
#title-dropdown { position: fixed; top: 5vh; left: 45px; display: none; }
#menu-dropdown { position: fixed; top: 5vh; left: 107px; display: none; }

#about
{
    position: fixed; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); 
    height: var(--window-height); width: var(--window-width); padding: var(--window-padding);
    display: none; grid-template-rows: 5% 95%; gap: 3px;
    transition: all 0.5s ease;
} 
#about .action-bar { background-color: var(--window-background-color); border-radius: var(--window-border-radius) var(--window-border-radius) 0 0; padding: var(--window-padding); display: flex; backdrop-filter: blur(var(--window-blur));}
#about .content { background-color: var(--window-background-color); border-radius: 0 0 var(--window-border-radius) var(--window-border-radius); padding: var(--window-padding); backdrop-filter: blur(var(--window-blur)); }
#about .action-bar .icon { margin-right: 5px; display: flex; justify-content: center; align-items: center; }
#about .action-bar .title { margin-right: 5px; margin-left: 5px; display: flex; justify-content: center; align-items: center; }



#preferences 
{
    position: fixed; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); 
    height: var(--window-height); width: var(--window-width);
    display: grid; grid-template-rows: 5% 95%; gap: 3px;
    transition: all 0.5s ease;
}
#preferences .action-bar { background-color: var(--window-background-color); border-radius: var(--window-border-radius) var(--window-border-radius) 0 0; padding: var(--window-padding); display: flex; backdrop-filter: blur(var(--window-blur)); }
#preferences .content { display: grid; grid-template-columns: 1fr 3fr; gap: 1px; }
#preferences .action-bar .icon { margin-right: 5px; display: flex; justify-content: center; align-items: center; }
#preferences .action-bar .title { margin-right: 5px; margin-left: 5px; display: flex; justify-content: center; align-items: center; }

#preferences .content .group { background-color: var(--window-background-color); padding: var(--window-padding); border-radius: 0 0 0 var(--window-border-radius); backdrop-filter: blur(var(--window-blur)); }
#preferences .content .settings { background-color: var(--window-background-color);  padding: var(--window-padding); border-radius: 0 0 var(--window-border-radius) 0; backdrop-filter: blur(var(--window-blur)); }

#preferences .content .group .item{ padding: var(--window-padding); border-radius: var(--window-border-radius); margin-bottom: var(--divider-margin); }
#preferences .content .group .item:hover { background-color: var(--accent-color); }
#preferences .content .group .item:active { background-color: var(--active-color); }